<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode | default "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} // {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  {{ block "head" . }}{{ end }}
</head>
<body>
  <div class="page-wrapper">
    {{ partial "header.html" . }}
    <main class="main-content">
      <div class="container">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
